{% extends "users/base.html" %}
{% block title %}Teams Page{% endblock title %}
{% block content %}
    

    <div class="form-content">

            
        <form method="post" enctype="multipart/form-data">
            <div class="alert alert-danger alert-dismissible" role="alert">
                Are you sure you want to delete {{ TeamName }} team? <button type="submit" class="btn btn-danger btn-lg">Delete Team</button>
            </div>
            {% csrf_token %}
            {% comment %} <div class="form-row">
                <div class="col-md-5">
                    <div class="form-group">
                        <label class="small mb-1">Team Name:</label>
                            {{ team_form.TeamName }}
                        <label class="small mb-1">PrimaryEmail:</label>
                            {{ team_form.PrimaryEmail }}
                            <label class="small mb-1">SecondaryEmail:</label>
                            {{ team_form.SecondaryEmail }}
                            <label class="small mb-1">PrimaryPhone:</label>
                            {{ team_form.PrimaryPhone }}
                            <label class="small mb-1">SecondaryPhone:</label>
                            {{ team_form.SecondaryPhone }}
                            <label class="small mb-1">City:</label>
                            {{ team_form.City }}
                            <label class="small mb-1">State:</label>
                            {{ team_form.State }}
                            <label class="small mb-1">Zip:</label>
                            {{ team_form.Zip }}
                            <label class="small mb-1">SportType:</label>
                            {{ team_form.SportType }}
                            <label class="small mb-1">TeamLogo:</label>
                            {{ team_form.TeamLogo }}
                    </div>
                </div>
            </div>
            <br><br> {% endcomment %}

            <a href="{% url 'teams' %}" class="btn btn-primary btn-lg">Teams</a>
        </form>
    </div>
{% endblock content %}